<div id="list">
<h1>Honey Do List</h1>
<h3>Thank you for doing these chores! I really appreciate the help</h3>

<div class="main">
  <table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Task', new_task_path %>
</div>
